

.profileSettings {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileSettings h2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profileSettings h2 svg {
  margin-right: 10px;
}

.profileOptions {
  list-style-type: none;
  padding: 0;
}

.profileOptions li {
  cursor: pointer;
  padding: 10px 15px;
}

.profileOptions li:hover {
  background-color: #f0f0f0;
}
